*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signup-form input, .login-form input{
     display: block;
     margin: 10px 0;
     padding: 5px;
     border: 2px solid brown;
     outline: none;
}

.signup-form button, .login-form button{
    padding: 5px;
    border: 2px solid brown;
    background: brown;
    color: white;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: brown;
    color: white;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 5px;
}